//Farklı column ve ara boşluğu dinamik değişterebileceğimiz mixin

@mixin grid($columns,$gap:0px) {
    display: grid;
    grid-gap: $gap;
    grid-template-columns: repeat($columns,1fr);
}

//Farklı yerlerde kullanacağım ortak dinamik flex box yapısı mixini

@mixin flex($justifycontent,$alignitems:center,$flexdirection:row,$flexwrap:wrap){
    display: flex;
    justify-content: $justifycontent;
    align-items: $alignitems;
    flex-direction: $flexdirection;
    flex-wrap: $flexwrap;
}


//Farklı ekran boyutlarına göre mixin ile media sorgusu

@mixin small {
    @media (min-width:#{$screen-sm-min}){
        @content;
    }
}

@mixin medium {
    @media (min-width:#{$screen-md-min}){
        @content;
    }
}

@mixin large {
    @media (min-width:#{$screen-lg-min}){
        @content;
    }
}