.container{
    width: $container-width;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}


.btn{
    display: inline-block;
    background-color: $primary-color;
    padding: 10px 20px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;

    &:hover{
        background-color: #000000;
    }
}

.section-title{
    font-size: 45px;
    margin-top: 50px;
    color: #333333;
    margin-bottom: 50px;


    &::after{
        content: '';
        width: 110px;
        height: 5px;
        background-color: #dddddd;
        display: block;
        margin: 0 auto;
    }
}

.section-title.center{
    text-align: center;
}