//Color Değişkenleri

$primary-color:#1e72bc;
$secondary-color:#0aceb1;
$text-color:#333333;

//Media Sorgularında kullancağım ekran boyutları

$screen-sm-min:576px;
$screen-md-min:768px;
$screen-lg-min:800px;

//Container genişlği 

$container-width:1200px;

//Box Shadow
$box-shadow:0 8px 6px -6px #999999;